{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/styles/form.css') }}">
{% endblock %}

{% block header %}
    <div class="head">
        <h1>{{ title }}</h1>
        <p><a href="{{ path('my_decks') }}">Zpet</a></p>
    </div>
{% endblock %}

{% block content %}
    <section class="form">
        <p>Skutečně si přejete {{ akce }} kolekci <strong>{{ deck.name }}</strong>?</p>
        {{ form(form) }}
    </section>
{% endblock %}
